<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col">
      <p class="h5">Trending Today</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm3">
      trending 1
    </div>
    <div class="col-sm3">
      trending 2
    </div>
    <div class="col-sm3">
      trending 3
    </div>
    <div class="col-sm3">
      trending 4
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h4">Popular Posts</p>
    </div>
    <div class="col-8">
      left col(wide)
  </div>
    <div class="col-4">
      <%= link_to "View all subreddits", subreddits_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
